body {
  font-size: 1em
}

h1, h2 {
  color: #FC9803;
}

.wrapper {
  display: grid;
  grid-row-gap: 1vh;
  grid-column-gap: 1vw;
  grid-template-columns: 1fr 3fr 1fr;
}

.wrapper .body, .wrapper header {
  text-align: center;
}

.wrapper .body {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.wrapper aside.right {
  grid-area: 2 / 2 / 2 / 2;
}

.wrapper aside.right .guessed-words {
  overflow: auto;
  color: #343409;
  border: 3px solid #FC9803;
  min-height: 10vh;
  max-height: 80vh;
  flex-direction: column;
  text-align: center;
  max-width: 95vw;
  margin: auto;
  flex-wrap: wrap;
}

.wrapper aside.right .guessed-word {
  padding: 0.25em;
  border-radius: 2px;
  border: 1px solid #343409;
  background-color: #FEFE34;
  justify-content: center;
  font-weight: bold;
  display: inline-flex;
}

.ungrouped {
  overflow: auto;
  background: #343409;
  color: #FEFE34;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>Well done!</text></svg>");
}

.health {
  display: flex;
  justify-content: center;
}

.grouped {
  display: flex;
  width: 100%;
}

.grouped section {
  overflow: auto;
  flex-wrap: wrap;
  padding: 6vh 0;
  align-items: center;
  border: 1px solid #343409;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  justify-content: center;
  opacity: 0.9;
  background-color: #FEFE34;
  transition: background-color 0.5s ease;
}

.grouped section:nth-child(1) {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>Infinitives</text></svg>");
  background-repeat: no-repeat;
}

.grouped section:nth-child(2) {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>Both</text></svg>");
  background-repeat: no-repeat;
}

.grouped section:nth-child(3) {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='50px' width='120px'><text x='0' y='15' fill='red' font-size='20'>Gerunds</text></svg>");
  background-repeat: no-repeat;
}

.word {
  height: fit-content;
  font-weight: bold;
  background-color: #FC9803;
  border: 1px solid #343409;
  color: #343409;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
}

.alarm {
  animation-duration: .5s;
  animation-name: alarm;
  animation-iteration-count: 2;
}

@keyframes alarm {
    0%   {background-color: red;}
    100% {background-color: #FEFE34;}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
  .wrapper {
    grid-template-columns: 0fr 1fr;
  }
}
